@CHARSET "ISO-8859-1";

html
{
	width: 300px;	
}

div.personDetails
{	
	position: relative;
	height: 250px;	
	width: 160px;
	margin: 10px 5px; /* top and bottom 9 px */
}

img
{
	height: inherit;
	border-radius: 5%;
}

.personDetails p
{
	font-family: monospace;
	text-align: left;	
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 5px 5px 10px gray;
	color: white;
	font-size: 16pt;	
	background-color: teal;
	position: absolute;
	top: 60px;
	left: 250px;
	white-space: pre;
	padding: 10px 5px;	
}

#debug
{
	display: none;
}