
body
{
	margin: 6px;
}

input
{
	min-width: 50%;
	text-align: center;
}

.header
{
	border: solid 1px gray;	
	width: 100%;
	height: 20%;
	text-align: center;
}

.content
{
	border: dashed 1px gray;
	width: 100%;
	height: 20%;
}

#debug
{
	display: none;
}

.footer
{
	border-top: 1px, gray, solid;
	color: gray;
	font-size: small;
	font-family: Times;
	text-align: center;
}

.graph
{
	overflow-x:auto;
	overflow-y:auto;
	
	margin: 10px auto;
	border: solid gray 1px;	
	text-align: center;
}

/* PERSON */

div.person
{	
	position: relative;
	display: inline-block;
	height: 200px;	
	width: 160px;
	margin: 10px 5px; /* top and bottom 9 px */
}

.person img
{
	height: 140px;
/*	clip: rect(0px, 140px, 140px, 0px);*/	
	border-radius: 50%;
}

div.person p
{
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 5px 5px 10px gray;
	color: white;
	font-size: 16pt;	
	background-color: teal;
	position: absolute;
	top: 100px;
	left: 15px;
	width: 80%;
}

/* SMALL FORMAT PERSONS */
div[format=small].person
{
	display: block;
	width: 200px;
	height: 80px;
}

div[format=small].person img
{
	height: 80px;
	position: absolute;
	top: 0px;
	left: 0px;
}

div[format=small].person p
{
	top: 20px;
	left: 75px;
	width: 120px;
	heigth: 60%;
	margin: 0px;
}

div.person:hover
{
	margin: 6px 1px; /* top and bottom 6 px */
	border: 4px red solid;
	border-radius: 5%;
}


/*
#org-chart div p
{
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 5px 5px 10px gray;
	color: white;
	font-size: 16pt;	
	background-color: teal;
	position: absolute;
	top: 100px;
	left: 15px;
	width: 80%;
}
*/
div.group
{
	border: 1px dashed black;
	box-shadow: 5px 5px 10px gray;
	border-radius: 5px;
	background-color: rgba(240,240,110, 0.5);
	margin: 10px 10px;
	vertical-align: top;
}

div.level
{
	margin-top: 10px;
}