
body
{
	margin: 6px;
}

input
{
	min-width: 50%;
	align: center;
}

.header
{
	border: solid 1px gray;	
	width: 100%;
	height: 20%;
	text-align: center;
}

.content
{
	border: dashed 1px gray;
	width: 100%;
	height: 20%;
}

#debug
{
	display: none;
}

.footer
{
	border-top: 1px, gray, solid;
	color: gray;
	font-size: small;
	font-family: Times;
	text-align: center;
}

.graph
{
	overflow-x:auto;
	overflow-y:auto;
	
	margin: 10px auto;
	border: solid gray 1px;	
	text-align: center;
}

.person
{
	display: inline-block;
	width: 160px;
}

#org-chart img
{
	height: 140px;
/*	clip: rect(0px, 140px, 140px, 0px);*/	
	border-radius: 50%;
}

div.person
{
	position: relative;
	height: 200px;	
	margin: 10px 5px; /* top and bottom 10 px */
}

#org-chart div p
{
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 5px 5px 10px gray;
	color: white;
	font-size: 16pt;	
	background-color: teal;
	position: absolute;
	top: 100px;
	left: 15px;
	width: 80%;
}

div.group
{
	display: inline-block;
	border: 1px dashed black;
	border-radius: 5px;
	background-color: rgba(240,240,110, 0.5);
	margin: 0px, 10px;
}

div.level
{
	margin-top: 10px;
}