
body
{
	margin: 6px;
}

input
{
	max-width: 40%;
	text-align: center;
}

.header
{
	border: solid 1px gray;	
	width: 100%;
	height: 20%;
	text-align: center;
	background: linear-gradient(-45deg, rgba(130, 130, 130, 0.8), rgba(150, 150, 150, 0.01));
}

.content
{
	border: dashed 1px gray;
	width: 100%;
	height: 20%;
}

#debug
{
	display: none;
}

.footer
{
	border-top: 1px, gray, solid;
	color: gray;
	font-size: small;
	font-family: Times;
	text-align: center;
}

/* GRAPH */

.graph
{
	margin: 10px auto;
	border: solid gray 1px;	
	text-align: center;
}

/* LEVEL */

div.level
{
	margin-top: 20px;
}

/* GROUP */

div.group
{
	border: 1px dashed black;
	box-shadow: 5px 5px 10px gray;
	border-radius: 5px;
	background: linear-gradient(to right, rgba(236,110,37, 0.5), rgba(240,240,240, 0.5), rgba(236,110,37, 0.5));
	margin: 10px 10px;
	vertical-align: top;
}

div.group a
{
	display: block;
	color: red;
	text-align: left;
	margin: 2px 2px;	
}


/* PERSON */

div.person
{	
	position: relative;
	display: inline-block;
	height: 240px;	
	width: 200px;
	margin: 10px 5px; /* top and bottom 9 px */
}

div.person p
{
	text-align: center;	
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 5px 5px 10px gray;
	color: white;
	font-size: 16pt;	
	background-color: rgba(128, 4, 0, 0.7);
	position: absolute;
	top: 60%;
	left: 10%;
	width: 80%;	
}

/* SMALL FORMAT PERSONS */
div[format=small].person
{
	display: block;
	width: 200px;
	height: 80px;
	margin: 10px 5px; /* top and bottom 10 px */
}

div[format=small].person img
{
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}

div[format=small].person p
{
	top: 10px;
	left: 80px;
	width: 120px;
	heigth: 60%;
	margin: 0px;
	font-size:small;
}

div.person:hover
{
	margin: 6px 1px; /* top and bottom 6 px */
	border: 4px red solid;
	border-radius: 5%;
}
